<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveaux</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/level.css' %}">
</head>
<body>

<div class="container">
    <a href="{% url 'level_one' %}" class="card">
        <div>Niveau 1</div>
        <div>0/7</div>
    </a>
    <a href="{% url 'level_two' %}" class="card">
        <div>Niveau 2</div>
        <div>0/5</div>
    </a>
    <a href="{% url 'level_three' %}" class="card">
        <div>Niveau 3</div>
        <div>0/6</div>
    </a>
</div>

</body>
</html>
