<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveaux</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/level.css' %}">
    <link rel="icon" type="image/png" href="{% static 'image/logo_bureau.png' %}">
</head>
<body>
<div class="container">
    <div class="level">
        <a href="{% url 'level_one' %}" class="card">
            <div>Niveau 1</div>
            <div>0/7</div>
        </a>
        <a href="{% url 'level_one_quizz' %}" class="test-card">FAIRE LE TEST</a>
    </div>

    <div class="level">
        <a href="{% url 'level_two' %}" class="card">
            <div>Niveau 2</div>
            <div>0/5</div>
        </a>
        <a href="{% url 'level_two_quizz' %}" class="test-card">FAIRE LE TEST</a>
    </div>


</div>
</body>
</html>
