<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Niveau 2</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'image/logo_bureau.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/levelTwoJeu1.css' %}">
</head>
<body>
    <button id="restart-button" class="restart-button">Restart</button>
    <a href="/levelTwo/" id="back-to-menu" class="back-to-menu">
        <button class="menu-button">Retour au menu</button>
    </a>

    <div class="fortress">
        <img src="{% static 'image/forteresse.png' %}" id="forteresse" alt="Forteresse">
        <div id="fortressParts">
            <div id="porte">
                <img src="{% static 'image/porte.png' %}" alt="Porte de la forteresse" class="close-ico">
            </div>
            <div id="tourDroite">
                <img src="{% static 'image/tourDroite.png' %}" alt="Tour droite de la forteresse" class="close-ico">
            </div>
            <div id="tourGauche">
                <img src="{% static 'image/tourGauche.png' %}" alt="Tour gauche de la forteresse" class="close-ico">
            </div>
        </div>
    </div>

    <form id="password-form">
        {% csrf_token %}
        <input type="password" id="password" placeholder="Entrez votre mot de passe">
        <button type="button" id="submitBtn">Renforcer la Forteresse</button>
        <button type="button" id="togglePassword">Afficher</button>
        <div id="feedback" class="feedback"></div>
    </form>

    <script src="{% static 'js/forteresse.js' %}"></script>
</body>
</html>
