<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bureau Niveau 1</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Bureau.css' %}">
</head>
<body>
    <div class="content">
    </div>
    <div class="bottom-bar">
        <img src="{% static 'image/eternaite.png' %}" alt="internet" class="icon1">
        <img src="{% static 'image/heure.png' %} " alt="heure" class="heure">
        <img src="{% static 'image/batterie.png' %}" alt="batterie" class="batterie">
        <!--
        <img src="{% static 'images/ecran.png' %}" alt="Écran" class="icon">
        <img src="{% static 'images/son.png' %}" alt="Son" class="icon"> -->
    </div>

</body>
</html>
