<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybermouse Course</title>
    {% load static %}
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="{% static 'css/raceGame.css' %}">
</head>
<body>
    <button id="restart-button" class="restart-button">Restart</button>
     <a href="/levelTwo/" id="back-to-menu" class="back-to-menu">
        <button class="menu-button">Retour au menu</button>
    </a>

    <!-- Conteneur de la piste -->
    <div class="track-container">
        <img src="{% static 'image/track.png' %}" alt="Piste de course" class="track">
        <!-- Les animaux placés sur la piste -->
        <img src="{% static 'image/mouse.png' %}" class="animal cybermouse" id="cybermouse" alt="Cybermouse">
        <img src="{% static 'image/escargot.png' %}" class="animal snail" id="snail" alt="Snail">
        <img src="{% static 'image/tortue.png' %}" class="animal turtle" id="turtle" alt="Turtle">
        <img src="{% static 'image/lievre.png' %}" class="animal hare" id="hare" alt="Hare">
        <img src="{% static 'image/guepard.png' %}" class="animal cheetah" id="cheetah" alt="Cheetah">
    </div>
    <!-- Zone des questions -->
    <div class="question-box">
        <div class="question" id="question">Question en cours...</div>
        <div class="options" id="options"></div>
    </div>
    <!-- Message final -->
    <div class="finish-message" id="finish-message"></div>
    <!-- Lien vers le fichier JavaScript -->
    <script src="{% static 'js/raceGame.js' %}"></script>
</body>
</html>
