<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'image/logo_bureau.png' %}">
    <title>Jeux - Niveau 2</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/levelTwo.css' %}">
</head>
<body>
    <div class="container">
        <!-- Conteneur pour la grille de 6 cartes (2 colonnes x 3 lignes) -->
        <div class="card-container">
            <a href="{% url 'level_two_jeu1' %}" class="card red">Jeu de la Forteresse</a>
            <a href="{% url 'level_two_course' %}" class="card blue">Course</a>
            <a href="{% url 'level_two_jeu2' %}" class="card green">La Quête du Réseau Sécurisé</a>
            <a href="{% url 'level_two_jeu3' %}" class="card yellow">Mot de passe croisée</a>
            <a href="{% url 'level_two_jeu4' %}" class="card purple">Le Mur de parefeu</a>
            <a href="{% url 'level_two_pswd' %}" class="card brown">Combien de temps pour cracker ?</a>
        </div>

        <!-- Conteneur pour les boutons de navigation -->
        <div class="menu-container">
            <a href="{% url 'home' %}" class="menu-card">Menu</a>
            <a href="{% url 'level_three' %}" class="menu-card">Niveau suivant</a>
        </div>
    </div>
</body>
</html>
