<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Niveau 1</title>
    {% load static %}
        <link rel="icon" type="image/png" href="{% static 'image/logo_bureau.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/levelOne.css' %}">
</head>
<body>
    <div class="note">
        <label class="noteLabel">
            Identifiant: <br/>
            utilisateur4 <br />
            Mot de passe : <br/>
            01234
        </label>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="textZone">
            <div class="MEP1">
                <input type="text" id="username" name="username" required placeholder="Nom d'utilisateur">
            </div>
            <div class="MEP2">
                <input type="password" id="password" name="password" required placeholder="Mot de passe">
            </div>
            <div class="MEP3">
                <button type="submit" class="submitBtn">Se connecter</button>
            </div>
        </div>
    </form>

</body>
</html>
