<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginStyle.css' %}">
</head>
<body>
    <div class="rectangle">
        <h2 class="titre">Inscription</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S'inscrire</button>
        </form>
        <p class="texte-acceuil">Vous avez déjà un compte ? <a href="{% url 'login' %}">Connexion</a></p>
    </div>
</body>
</html>
