<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
        <link rel="icon" type="image/png" href="{% static 'image/logo_bureau.png' %}">

    <link rel="stylesheet" href="{% static 'css/registerStyle.css' %}">
</head>
<body>
    <div class="rectangle">
        <header>
            <h2 class="titre">Créer un compte</h2>
        </header>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="message {{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <main>
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    {{ form.as_p }}
                </fieldset>
                <button type="submit" class="btn-submit">S'inscrire</button>
            </form>

            <p class="texte-acceuil">
                Vous avez déjà un compte ?
                <a href="{% url 'login' %}">Connexion</a>
            </p>
        </main>
    </div>
</body>
</html>
