<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification d'email</title>
</head>
<body>
    <h1>Vérifiez votre e-mail</h1>
    <p>Veuillez entrer le code de vérification envoyé à votre adresse e-mail.</p>
        <link rel="icon" type="image/png" href="{% static 'image/logo_bureau.png' %}">

    <form method="POST">
        {% csrf_token %}
        <label for="code">Code de vérification :</label>
        <input type="text" id="code" name="code" placeholder="Entrez votre code ici" required>
        <button type="submit">Vérifier</button>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}ve
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% if messages.0.tags == "success" %}
        <a href="{% url 'home' %}" class="btn">Suivant</a>
    {% endif %}
{% endif %}
</body>
</html>
