<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/loginStyle.css' %}">
</head>
<body>
    <h2 class="titre">Connexion</h2>
    <div class="rectangle">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
        </form>
        <p class="texteAcceuil">Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscription</a></p>
    </div>
</body>
</html>
