<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
</head>
<body>
    <header>
        <h1>Connexion</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Identifiez-vous</legend>
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit">Se connecter</button>
            </fieldset>
        </form>

        <p>Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous ici</a>.</p>
    </main>

    <script>
        function togglePassword() {
            const passwordField = document.getElementById("password");
            if (passwordField) {
                passwordField.type = passwordField.type === "password" ? "text" : "password";
            }
        }
    </script>
</body>
</html>
