body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de l'écran */
    background-color: #f0f0f0; /* Optionnel : couleur d'arrière-plan */
}

.browser_window {
    margin-top: auto;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;

}

.tab_bar{
    background-color: black;
    width: 100%;
    height: 4%;
}

.search_bar{
    margin-top: 0.3%;
    background-color: black;
    width: 50%;
    height: 3%;
    margin-left: 25%;
    border-radius: 10px;
}

.boolmark{

}

.browser_content{
    background-color: white;
    width: 100%;
    height: 88%;
    margin-top: auto;
}

.gogole_tab{
    width: 12%;
    height: 80%;
    background-color: #222222;
    margin: 0.2%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

}

.tab_gogole_ico{
    height: 80%;
    width: 10%;
    margin: 1%;

}

.tab_text {

    margin: 3%;
    font-size: 18px;
}

.tab_close_ico{
    height: 80%;
    width: 10%;
    margin-top: 1%;
    margin-left: 30%;
}

.close_browser{
    width: 5%;
    height: 80%;
    background-color: #222222;
    margin-left: auto;

}