body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    color: #ffffff;

}

.content {
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: [col1] 8% [col2] 10% [col3] 10% [col4] 10% [col5] 10% [col6] 10% [col7] 10% [col8] 10% [col9] 10% [col10] 10%;
    grid-template-rows: [row1] 10% [row2] 10% [row3] 10% [row4] 10% [row5] 10% [row6] 10% [row7] 10% [row8] 10% [row9] 10% [row10] 10%;
}

.outlook-app{
    height: 80px;
    width: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: auto;
}

.email-list{
    color: black;
}


.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.bottom-bar img {
    width: auto;
    height: 40px; /* Taille par défaut */
    cursor: pointer;
}

.right-info{
    position: fixed;
    right: 10px;
}

.left-info{
    position: fixed;
    left: 10px;
}

.center-app{
    position: fixed;
    
}

.icon1 {
    height: 35px;
}

.batterie {
    height: 25px;
}

.heure {
    height: 30px;
    width: 100px;
}

.window {
    width: 40px;
    height: 40px;
}

.sound {
    width: 50px;
    height: auto;
}

.outlook {
    width: 50px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .bottom-bar {
        height: 70px;
        justify-content: space-evenly;
    }

    .bottom-bar img {
        height: 30px;
        width: auto;
    }
}