body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
}

.outlook-app {
    height: 80px; /* Taille fixe */
    width: auto; /* Garde les proportions */
    cursor: pointer; /* Indique que l'icône est cliquable */
    position: absolute;
    top: 10%; /* Ajustement vertical */
    left: 5%; /* Ajustement horizontal */
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.bottom-ar img {
    height: 40px;
    width: auto;
}

.left-info, .right-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

